<!doctype html>
<html lang="en" translate="no">
  <head>
    <meta charset="UTF-8" />

    <link rel="icon" type="image/svg+xml" href="/src/assets/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Undangan pernikahan musa dan lina. Informasi acara."
    />
    <meta name="theme-color" content="#ffdcdc" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://kopuundangan.my.id/undangan/musa-lina/"
    />
    <meta property="og:title" content="Pernikahan musa &amp; lina" />
    <meta
      property="og:description"
      content="Undangan pernikahan musa dan lina. Informasi acara, galeri foto, dan ucapan untuk kedua mempelai."
    />
    <meta
      property="og:image"
      content="https://kopuundangan.my.id/undangan/musa-lina/og-preview.jpg"
    />
    <meta
      property="og:image:secure_url"
      content="https://kopuundangan.my.id/undangan/musa-lina/og-preview.jpg"
    />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="600" />
    <meta property="og:site_name" content="Undangan Musa &amp; Lina" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Pernikahan Musa &amp; Lina" />
    <meta
      name="twitter:description"
      content="Undangan pernikahan Musa dan Lina."
    />
    <meta
      name="twitter:image"
      content="https://kopuundangan.my.id/undangan/musa-lina/og-preview.jpg"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
    <title>Pernikahan Musa &amp; Lina</title>
    <script type="module" crossorigin src="./assets/index-CISQO0eD.js"></script>
    <link rel="stylesheet" crossorigin href="./assets/index-DQPTGIZt.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
