@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

@theme {
  --font-display: "Libre Baskerville", serif;
  --font-arabic: "Amiri", serif;

  --color-cream: #f7f3e8;
  --color-brown: #834b2d;
  --color-brownyg: #ba724c;
  --color-gold: #c69769;
}

@utility background-page {
  position: relative;
  margin-inline: auto;
  height: 100svh;
  width: 100%;
  max-width: 440px;
  overflow: hidden;
}

@utility background-page-square {
  position: relative;
  margin-inline: auto;
  width: 100%;
  max-width: 440px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}
@layer components {
  .btn-primary {
    @apply bg-brownyg text-cream
           px-6 py-3
           rounded-[10px]
           font-display
           cursor-pointer
           transition-all duration-300
           hover:bg-brown;
  }
}
@layer utilities {
  .text-title-xl {
    font-size: clamp(50px, 13vw, 68px);
    line-height: 1.05;
  }
  .text-title-lgx {
    font-size: clamp(20px, 13vw, 32px);
  }

  .text-title-lg {
    font-size: clamp(16px, 4.5vw, 20px);
    line-height: 1.5;
  }

  .text-body {
    font-size: clamp(12px, 2.5vw, 16px);
    line-height: 1.5;
  }
}
