<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>papua-classic</title>
    <meta property="og:title" content="Papua Classic" />
    <meta
      property="og:description"
      content="Undangan pernikahan musa dan lina. Informasi acara"
    />
    <meta name="theme-color" content="#e2dec7" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://kopuundangan.my.id/undangan/Yohana-Samuel"
    />
    <meta
      property="og:image"
      content="https://kopuundangan.my.id/template/og-preview.jpg"
    />
    <meta
      property="og:image:secure_url"
      content="https://kopuundangan.my.id/template/og-preview.jpg"
    />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="600" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Nama undangan" />
    <meta name="twitter:description" content="Deskripsi singkat undangan." />
    <meta
      name="twitter:image"
      content="https://kopuundangan.my.id/template/og-preview.jpg"
    />
    <script type="module" crossorigin src="./assets/index-Dk84yorN.js"></script>
    <link rel="stylesheet" crossorigin href="./assets/index-YLPZOcL8.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
